body {
    background-color: #0f0f0f;
}

/* match and rewrite content boxes */
pre {
    color: #ced4da;
    background-color: #1f1f1f;
}

h6 {
    color: #ced4da;
}


/* text box background and font color */
.form-control {
    background-color: #343a40;
    color: #ced4da;
}

.form-control::placeholder {
    color: #cccccc;
}

.rule-syntax-errors {
    color: #ffa504;
}

.modal-content {
    background-color: #343a40;
    color: #ced4da;
}

.modal-pre {
    background-color: #343a40;
}

.modal-title {
    color: #ced4da;
}

.run-in-terminal {
    border-color: #ced4da;
}

/* radio buttons */
.form-check-label {
    color: #ced4da;
}

.btn-warning {
    background-color: #865f18 !important;
}


.info-button {
    color: #ced4da !important;
}

.documentation-button {
    background-color: #0e0e0e !important;
}

.terminal-button {
    border-color: #ced4da;
}

.terminal-button:hover {
    border-color: #ced4da;
}

.terminal-small-button {
    border-color: #ced4da;
    color: #ced4da;
}

.terminal-small-button:hover {
    border-color: #ced4da;
    color: #ced4da;
}

.terminal-button-add-in-place {
    border-color: yellow;
}

.terminal-button-add-in-place:hover {
    border-color: yellow;
}


.terminal-small-button-add-in-place {
    border-color: yellow;
}

.terminal-small-button-add-in-place:hover {
    border-color: yellow;
}



mark {
    background-color: gray;
    color: white;
    padding: .1em;
}

mark.two {
    background-color: #30bc40;
    border-radius: 4px;
    padding: 0em;
    padding-left: .2em;
    padding-right: .2em;
}

mark.three {
    background-color: orange;
    border-radius: 4px;
    padding: 0em;
    padding-left: .2em;
    padding-right: .2em;
}

mark.four {
    background-color: #4fc6ed;
    border-radius: 4px;
    padding: 0em;
    padding-left: .2em;
    padding-right: .2em;
}

mark.five {
    background-color: #f639f6;
    border-radius: 4px;
    padding: 0em;
    padding-left: .2em;
    padding-right: .2em;
}

mark.six {
    background-color: #f64848;
    border-radius: 4px;
    padding: 0em;
    padding-left: .2em;
    padding-right: .2em;
}


source {
  white-space: pre-wrap;
}

match_template {
  white-space: pre-wrap;
}

.language_selection {
    font-size:14px;
}

.substitution_kind {
    font-size:14px;
}


textarea
{
    font-family:"Monaco", monospace;
    spellcheck:false;
    font-size:14px !important;
}

pre code {
    font-family:"Monaco", monospace;
    font-size:14px;
}

pre {
    resize: both;
    overflow: auto;
    height:38vh;
}

.rule-syntax-errors {
    font-family:"Monaco", monospace;
    white-space: pre-wrap;
    font-size:12px;
    margin:0px;
}

/* unset rela position so that octocat is above language selection */
.col-md-2 {
    position: unset;
}

.source-box {
    border-style: solid;
    border-color:#00b4f2;
    border-radius: 6px;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
}

.rewrite-box {
    border-style: solid;
    border-color:#f96216;
    border-radius: 6px;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
}

.red-pill {
    background-color:#dc3545;
}


.btn-warning {
    background-color:#ffa604;
    color: white;
}

.badge-warning {
    background-color:#ffa604;
    color: white;
    font-weight: unset
}

.btn-outline-warning {
    border-color:#ffa604;
    color:#ffa604;
}

.green-pill {
    background-color:#28a745;
}
